# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
--------------
* List common languages in data science 
* List common data science tools
* Showcase basic arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit Learn
3. Tensorflow

| Data Science Tools    |
|-----------------------|
| JupyterLab            |
| R Studio              |
| VScode                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Evan